HMT3A_Blender/outputs/
HMT3A_Unity/exports/
HMT3A_Unity/unity_client/*
!HMT3A_Unity/unity_client/Mediapipe_Unity_Client/Assets/Scripts/*
!HMT3A_Unity/unity_client/readme.txt
HMT3A_Unity/mediapipe_server/__pycache__/
